@model IEnumerable<LV_DuLichDienTu.Models.BaiViet_DiaDiem>;
@{
	ViewData["Title"] = "Index_Home";
}
<div class="hero-wrap js-fullheight" style="background-image: url('/TourismTemplate/images/bg_1.jpg');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
				<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong>KHÁM PHÁ
						<br></strong>thành phố mơ ước của bạn</h1>
				<p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tự do du lịch</br>Chọn những nơi
					tuyệt vời để dừng chân, ăn uống, tự khám phá những điều thú vị bằng một cách mới mẻ như những người
					chuyên gia</p>
				<div class="block-17 my-4">
					<form action="" method="post" class="d-block d-flex">
						<div class="fields d-block d-flex">
							<div class="textfield-search one-third">
								<input type="text" class="form-control" placeholder="vd: ăn uống, tham quan, lưu trú">
							</div>
							<div class="select-wrap one-third">
								<div class="icon"><span class="ion-ios-arrow-down"></span></div>
								<select name="" id="" class="form-control" placeholder="Keyword search">
									<option value="">Thành Phố</option>
									<option value="">San Francisco USA</option>
									<option value="">Berlin Germany</option>
									<option value="">Lodon United Kingdom</option>
									<option value="">Paris Italy</option>
								</select>
							</div>
						</div>
						<input type="submit" class="search-submit btn btn-primary" value="Search">
					</form>
				</div>
				<p>Hoặc chọn các loại dịch vụ bạn cần bên dưới</p>
				<p class="browse d-md-flex">
					<span class="d-flex justify-content-md-center align-items-md-center"><a href="#"><i
								class="flaticon-fork"></i>Nhà hàng</a></span>
					<span class="d-flex justify-content-md-center align-items-md-center"><a href="#"><i
								class="flaticon-hotel"></i>Lưu trú</a></span>
					<span class="d-flex justify-content-md-center align-items-md-center"><a href="#"><i
								class="flaticon-meeting-point"></i>Điịa điểm vui chơi, khám phá</a></span>
				</p>
			</div>
		</div>
	</div>
</div>
<section class="ftco-section services-section bg-light">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon"><span class="flaticon-guarantee"></span></div>
					</div>
					<div class="media-body p-2 mt-2">
						<h3 class="heading mb-3">Đảm Bảo Về Giá </h3>
						<p>Mang lại mức giá phải chăng mà vẫn đảm báo chất lượng</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon"><span class="flaticon-like"></span></div>
					</div>
					<div class="media-body p-2 mt-2">
						<h3 class="heading mb-3">Trải Nghiệm Tuyệt Vời</h3>
						<p>Đảm bảo việc công ty luôn cung cấp những dịch vụ xuất sắc nhất đến khách hàng</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon"><span class="flaticon-detective"></span></div>
					</div>
					<div class="media-body p-2 mt-2">
						<h3 class="heading mb-3">Top Công Ty Du Lịch</h3>
						<p>Được đánh giá cao về các dịch vụ đã và đang cung cấp với tiêu chí </br> "sự hài lòng của bạn
							là niềm hạnh phúc của chúng tôi"</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon"><span class="flaticon-support"></span></div>
					</div>
					<div class="media-body p-2 mt-2">
						<h3 class="heading mb-3">Hỗ Trợ 24/7</h3>
						<p>Luôn giải đáp thắc mắc cũng như hỗ trợ khách hàng 24/7</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-destination">
	<div class="container">
		<div class="row justify-content-start mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate">
				<span class="subheading">Địa Điểm</span>
				<h2 class="mb-4">Điểm đến <strong> Nổi Tiếng</strong></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="destination-slider owl-carousel ftco-animate">
					<div class="item">
						<div class="destination">
							<a asp-action="Index_Destination" asp-route-id="TP Hồ Chí Minh"
								class="img d-flex justify-content-center align-items-center"
								style="background-image: url(/TourismTemplate/images/sg.jpg);">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3">
								<h3><a asp-action="Index_Destination" asp-route-id="TP Hồ Chí Minh">Hồ Chí Minh</a></h3>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="destination">
							<a asp-action="Index_Destination" asp-route-id="TP Cần Thơ"
								class="img d-flex justify-content-center align-items-center"
								style="background-image: url(/TourismTemplate/images/CanTho.jpg);">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3">
								<h3><a asp-action="Index_Destination" asp-route-id="TP Cần Thơ">Cần Thơ</a></h3>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="destination">
							<a asp-action="Index_Destination" asp-route-id="TP Đà Nẵng"
								class="img d-flex justify-content-center align-items-center"
								style="background-image: url(/TourismTemplate/images/DaNang2.jpg);">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3">
								<h3><a asp-action="Index_Destination" asp-route-id="TP Đà Nẵng">Đà Nẵng</a></h3>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="destination">
							<a asp-action="Index_Destination" asp-route-id="TP Nha Trang"
								class="img d-flex justify-content-center align-items-center"
								style="background-image: url(/TourismTemplate/images/NhaTrang2.jpg);">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3">
								<h3><a asp-action="Index_Destination" asp-route-id="TP Nha Trang">Nha Trang</a></h3>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="destination">
							<a asp-action="Index_Destination" asp-route-id="Hội An"
								class="img d-flex justify-content-center align-items-center"
								style="background-image: url(/TourismTemplate/images/HoiAn.jpg);">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3">
								<h3><a asp-action="Index_Destination" asp-route-id="Hội An">Hội An</a></h3>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="destination">
							<a asp-action="Index_Destination" asp-route-id="Sa Pa"
								class="img d-flex justify-content-center align-items-center"
								style="background-image: url(/TourismTemplate/images/SaPa.jpg);">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3">
								<h3><a asp-action="Index_Destination" asp-route-id="Sa Pa">Sa Pa</a></h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


@* <section class="ftco-section">
	<div class="container">
	<div class="row justify-content-start mb-5 pb-3">
	<div class="col-md-7 heading-section ftco-animate">
	<span class="subheading">Special Offers</span>
	<h2 class="mb-4"><strong>Popular</strong> Restaurants</h2>
	</div>
	</div>
	<div class="row">
	<div class="col-md-6 col-lg-3 ftco-animate">
	<div class="destination">
	<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image:
	url(/TourismTemplate/images/restaurant-1.jpg);">
	<div class="icon d-flex justify-content-center align-items-center">
	<span class="icon-search2"></span>
	</div>
	</a>
	<div class="text p-3">
	<h3><a href="#">Luxury Restaurant</a></h3>
	<p class="rate">
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star-o"></i>
	<span>8 Rating</span>
	</p>
	<p>Far far away, behind the word mountains, far from the countries</p>
	<hr>
	<p class="bottom-area d-flex">
	<span><i class="icon-map-o"></i> San Franciso, CA</span>
	<span class="ml-auto"><a href="#">Discover</a></span>
	</p>
	</div>
	</div>
	</div>
	<div class="col-md-6 col-lg-3 ftco-animate">
	<div class="destination">
	<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image:
	url(/TourismTemplate/images/restaurant-2.jpg);">
	<div class="icon d-flex justify-content-center align-items-center">
	<span class="icon-search2"></span>
	</div>
	</a>
	<div class="text p-3">
	<h3><a href="#">Luxury Restaurant</a></h3>
	<p class="rate">
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star-o"></i>
	<span>8 Rating</span>
	</p>
	<p>Far far away, behind the word mountains, far from the countries</p>
	<hr>
	<p class="bottom-area d-flex">
	<span><i class="icon-map-o"></i> San Franciso, CA</span>
	<span class="ml-auto"><a href="#">Book Now</a></span>
	</p>
	</div>
	</div>
	</div>
	<div class="col-md-6 col-lg-3 ftco-animate">
	<div class="destination">
	<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image:
	url(/TourismTemplate/images/restaurant-3.jpg);">
	<div class="icon d-flex justify-content-center align-items-center">
	<span class="icon-search2"></span>
	</div>
	</a>
	<div class="text p-3">
	<h3><a href="#">Luxury Restaurant</a></h3>
	<p class="rate">
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star-o"></i>
	<span>8 Rating</span>
	</p>
	<p>Far far away, behind the word mountains, far from the countries</p>
	<hr>
	<p class="bottom-area d-flex">
	<span><i class="icon-map-o"></i> San Franciso, CA</span>
	<span class="ml-auto"><a href="#">Book Now</a></span>
	</p>
	</div>
	</div>
	</div>
	<div class="col-md-6 col-lg-3 ftco-animate">
	<div class="destination">
	<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image:
	url(/TourismTemplate/images/restaurant-4.jpg);">
	<div class="icon d-flex justify-content-center align-items-center">
	<span class="icon-search2"></span>
	</div>
	</a>
	<div class="text p-3">
	<h3><a href="#">Luxury Restaurant</a></h3>
	<p class="rate">
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star"></i>
	<i class="icon-star-o"></i>
	<span>8 Rating</span>
	</p>
	<p>Far far away, behind the word mountains, far from the countries</p>
	<hr>
	<p class="bottom-area d-flex">
	<span><i class="icon-map-o"></i> San Franciso, CA</span>
	<span class="ml-auto"><a href="#">Book Now</a></span>
	</p>
	</div>
	</div>
	</div>
	</div>
	</div>
	</section> *@



<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-start mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate fadeInUp ftco-animated">
				<span class="subheading">Tin Tức Gần Đây</span>
				<h2><strong>Tin Tức</strong> &amp; Du Lịch</h2>
			</div>
		</div>
		<div class="row d-flex">
			@* <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
				<div class="blog-entry align-self-stretch">
					<a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
					</a>
					<div class="text p-4 d-block">
						<span class="tag">Tips, Travel</span>
						<h3 class="heading mt-3"><a href="#">8 Best homestay in Philippines that you don't miss out</a>
						</h3>
						<div class="meta mb-3">
							<div><a href="#">August 12, 2018</a></div>
							<div><a href="#">Admin</a></div>
							<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
						</div>
					</div>
				</div>
			</div> *@
			@{ int count =1;
				foreach (var items in Model)
				{
					<div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
						<div class="blog-entry align-self-stretch">
							<a asp-controller="LayoutTourism" asp-action="Index_News" asp-route-id="@items.bvdd_id" class="block-20" style="background-image: url('@items.bvdd_Hinh_duongdan');">
							</a>
							<div class="text p-4 d-block">
								<h3 class="heading mt-3"><a  asp-controller="LayoutTourism" asp-action="Index_News" asp-route-id="@items.bvdd_id">@items.bvdd_tieude</a>
								</h3>
								<div class="meta mb-3">
									<div><a asp-controller="LayoutTourism" asp-action="Index_Destination" asp-route-id="@items.DiaDiem_DuLich.dddl_tinhthanh">@items.DiaDiem_DuLich.dddl_tinhthanh</a></div>
									<div><a asp-controller="LayoutTourism" asp-action="Index_News" asp-route-id="@items.bvdd_id">Xem chi tiết</a></div>
								</div>
							</div>
						</div>
					</div>
					count++;
					if(count==5)
					{break;}
				}
			}
		</div>
	</div>
</section>
