@model IEnumerable<LV_DuLichDienTu.Models.DiaDiem_DuLich>;
@using Microsoft.AspNetCore.Http;
@using System.Data;
@{
    ViewData["Title"] = "Index_Destination";
}


<div class="hero-wrap js-fullheight" style="background-image: url('/TourismTemplate/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                
                        @ViewBag.TP
                </h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div>
            Địa điểm du lịch
            <div class="col-md-12">
                <div class="destination-slider owl-carousel ftco-animate">
                    @foreach(var item in Model)
                    {
                        <div class="item">
                            <div class="destination">
                                <a asp-controller="DiaDiem_DuLichs" asp-action="Details" asp-route-id="@item.dddl_id" class="img img-2 d-flex justify-content-center align-items-center"
                                    style="background-image: url('@item.dddl_Hinh_duongdan');object-fit: contain; ">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-search2"></span>
                                    </div>
                                </a>
                                <div class="text p-3">
                                    <div class="d-flex">
                                        <div class="one">
                                            <h3 class="title-destination"><a asp-controller="DiaDiem_DuLichs" asp-action="Details" asp-route-id="@item.dddl_id">
                                                @Html.DisplayFor(modelItem => item.dddl_ten)
                                            </a></h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <p class="bottom-area d-flex">
                                        <span><i class="icon-map-o"></i> @Html.DisplayFor(modelItem => item.dddl_quanhuyen)</span>
                                        <span class="ml-auto"><a asp-controller="DiaDiem_DuLichs" asp-action="Details" asp-route-id="@item.dddl_id">Chi Tiết</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <h2 class="title-text">Dịch Vụ</h2>     
        <div class="ln_solid"></div>
        <h5 class="title-text">Dịch Vụ Tham Quan</h5>
        <div class="col-md-12">
             @await Component.InvokeAsync("GetDichVu_ThamQuan",@ViewBag.TP)
        </div>
        <div class="ln_solid"></div>
        <h5 class="title-text">Dịch Vụ Ăn Uống</h5>
        <div class="col-md-12">
             @await Component.InvokeAsync("GetDichVu_AnUong",@ViewBag.TP)
        </div>
        
        <div class="ln_solid"></div>
        <h5 class="title-text">Dịch Vụ Lưu Trú</h5>
        <div class="col-md-12">
             @await Component.InvokeAsync("GetDichVu_LuuTru",@ViewBag.TP)
        </div>
    </div>
</section> 
<div>

</div>