@model IEnumerable<LV_DuLichDienTu.Models.HopDong>

@{
    ViewData["Title"] = "Index";
}

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hd_ngaybatdau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hd_ngayketthuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hd_chiphi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hd_danhgiachatluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hd_phanhoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duKhach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dichVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hd_ngaybatdau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hd_ngayketthuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hd_chiphi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hd_danhgiachatluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hd_phanhoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duKhach.dk_hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dichVu.dv_ten)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.hd_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.hd_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.hd_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@




<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div>
            <h2>
              Danh sách hợp đồng <small><a asp-action="Create"> Thêm mới</a></small>
            </h2>
          </div>

          <table id="datatable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>
                  STT
                </th>
                <th>
                  Tên dịch vụ
                </th>
                <th>
                  Tên du khách
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.hd_ngaybatdau)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.hd_ngayketthuc)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.hd_chiphi)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.hd_danhgiachatluong)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.hd_phanhoi)
                </th>
                <th>Tùy chọn</th>
              </tr>
            </thead>
            <tbody>
            @{ int countSTT= 1; 
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @countSTT
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dichVu.dv_ten)
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.duKhach.dk_hoten)
                        </td>
                        <td>
                            @* @Html.DisplayFor(modelItem => item.hd_ngaybatdau) *@
                            @{
                                @* string converBD = item.hd_ngaybatdau.ToString("dd/M/yyyy"); *@
                                <p>@item.hd_ngaybatdau.ToString("dd/M/yyyy")</p>
                            }
                        </td>
                        <td>
                            @* @Html.DisplayFor(modelItem => item.hd_ngayketthuc) *@
                            @{
                                @* string converKT = item.hd_ngayketthuc.ToString("dd/M/yyyy"); *@
                                <p>@item.hd_ngayketthuc.ToString("dd/M/yyyy")</p>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hd_chiphi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hd_danhgiachatluong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hd_phanhoi)
                        </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.hd_id" class="btn btn-success btn-xs"><i
                        class="fa fa-search"></i> Xem chi tiết</a>|
                        <a asp-action="Edit" asp-route-id="@item.hd_id" class="btn btn-primary btn-xs"><i
                        class="fa fa-pencil"></i> Sửa </a>|
                        <a asp-action="Delete" asp-route-id="@item.hd_id" class="btn btn-danger btn-xs"><i
                        class="fa fa-trash-o"></i> Xóa </a>
                    </td>
                    </tr>
                    countSTT++;
                }
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
