@{
    ViewData["Title"] = "TravellingSchedule";
}
@using Microsoft.AspNetCore.Http;
@using System.Data;
@model IEnumerable<LV_DuLichDienTu.Models.HopDong>
    
<div class="hero-wrap js-fullheight" style="background-image: url('/TourismTemplate/images/bg_4.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Lịch Trình Du Lịch
                </h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section ftco-degree-bg" style=" width:700px; margin: 30px auto; border: 1px solid red; border-radius: 15px;">
    <div class="container">
        <div class="row block-9">
            <div class="col-md-12">
                <h2 style="text-align: center;"> Lịch Trình Du Lịch</h2>
                    <div class="form-group chitiet">
                        
                        @{
                            string tempNgay ="";
                            int NumPopUp = 1;
                            string userID=Context.Session.GetString("userID");
                            foreach (var item in Model)
                                {
                                    if (item.hd_ngaybatdau.ToString("dd/MM/yyyy") != tempNgay)
                                    {   
                                        <hr style="width:100%; size:2px;">
                                        <p style="color: red;"></p>
                                        tempNgay =  item.hd_ngaybatdau.ToString("dd/MM/yyyy");
                                        <p class="date-schedule">@tempNgay</p> 
                                        
                                        
                                        
                                    }
                                    <p style="color: green;"> @item.dichVu.dv_ten</p>
                                    <p>+ Thành phố: @item.dichVu.dv_tinhthanh <br>+ Đánh giá dịch vụ:  @item.hd_danhgiachatluong <span class="icon-stars-resuilt">★</span></p>
                                    <p></p>
                                    <img style="width:150px; height: 100px" src="@item.dichVu.dv_hinh_duongdan"/>
                                    <button onclick="document.getElementById('@NumPopUp').style.display='block'" class="btn-PopUp-Rating">Đánh giá chất lượng</button>

                                    <div id='@NumPopUp' class="w3-modal">
                                        <div class="w3-modal-content">
                                        <div class="w3-container">
                                            @{
                                                @* var tempHDid = @item.hd_id;
                                                var tempDVid = @item.dv_id; *@
                                                <h5>Đánh giá dịch vụ</h5>
                                                <h4 class="items-center">
                                                    @item.dichVu.dv_ten
                                                </h4>
                                                <span onclick="document.getElementById('@NumPopUp').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                                <form asp-controller="HopDongs" asp-action="Updaterating" asp-route-hdid="@item.hd_id" asp-route-dvid="@item.dv_id" asp-route-userID="@userID">
                                                    <div class="rating">
                                                            <label>
                                                            <input type="radio" name="stars" value="1" />
                                                            <span class="icon">★</span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="stars" value="2" />
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="stars" value="3" />
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>   
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="stars" value="4" />
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="stars" value="5" />
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                            <span class="icon">★</span>
                                                        </label>
                                                    </div>
                                                    <button id="SetVal_Rating" onclick="document.getElementById('@NumPopUp').style.display='none'"  type="submit" class="btn btn-default submit">Đánh Giá</button>
                                                </form>
                                            
                                            <br>
                                            <div class="submit-option-rating">
                                                <a class="btn btn-outline-custom" onclick="document.getElementById('@NumPopUp').style.display='none'">Quay Lại</a>
                                                <a class="btn btn-primary" id="SetVal_Rating" onclick="document.getElementById('@NumPopUp').style.display='none'" >Lưu</a>
                                            </div>
                                            }
                                            
                                            
                                        </div>
                                        </div>
                                    </div>
                                    NumPopUp++;
                                }
                        }
                    </div>
                    <div class="form-group">
                        <a asp-controller="HopDongs" asp-action="Edit" asp-route-id='@Context.Session.GetString("userID")' class="btn btn-primary py-3 px-5">Cập Nhật Thông Tin</a>
                    </div>

            </div>

        </div>
    </div>
</section>
<div class="ln_solid"></div>
    <h5 style="text-align: left;" class="title-text">Những dịch vụ có thể bạn sẽ thích</h5> 
<div class="col-md-12">
    @await Component.InvokeAsync("GetAprioriFromDB",int.Parse(Context.Session.GetString("userID")))
</div>