@model LV_DuLichDienTu.Models.NhanVien

@{
    ViewData["Title"] = "Details";
}

@* <h1>Details</h1>

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nv_taikhoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nv_taikhoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nv_matKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nv_matKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nv_hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nv_hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nv_cmnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nv_cmnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nv_dienthoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nv_dienthoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nv_diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nv_diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nv_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nv_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bvdd_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bvdd_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.nv_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@

<div class="">
    <div class="row">
        <div class="col-md-10 center-margin">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thông tin chi tiết nhân viên</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div id="demo-form2"  class="form-horizontal form-label-left" novalidate="">

                        <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                <label>@Html.DisplayNameFor(model => model.nv_taikhoan) : </label>
                                
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="form-control col-md-7 col-xs-12" > @Html.DisplayFor(model => model.nv_taikhoan)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                <label>@Html.DisplayNameFor(model => model.nv_hoten) : </label>
                                
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="form-control col-md-7 col-xs-12" > @Html.DisplayFor(model => model.nv_hoten)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                <label>@Html.DisplayNameFor(model => model.nv_cmnd) : </label>
                                
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="form-control col-md-7 col-xs-12" > @Html.DisplayFor(model => model.nv_cmnd)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                <label>@Html.DisplayNameFor(model => model.nv_dienthoai) : </label>
                                
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="form-control col-md-7 col-xs-12" > @Html.DisplayFor(model => model.nv_dienthoai)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                <label>@Html.DisplayNameFor(model => model.nv_diachi) : </label>
                                
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="form-control col-md-7 col-xs-12" > @Html.DisplayFor(model => model.nv_diachi)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                <label>@Html.DisplayNameFor(model => model.nv_email) : </label>
                                
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="form-control col-md-7 col-xs-12" > @Html.DisplayFor(model => model.nv_email)</label>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a asp-action="Edit" asp-route-id="@Model.nv_id" class="btn btn-primary btn-xs"><i
                      class="fa fa-pencil"></i> Cập Nhật </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>