@model LV_DuLichDienTu.Models.BaiViet_DiaDiem

@{
    ViewData["Title"] = "Details";
}

@* <h1>Details</h1>

<div>
    <h4>BaiViet_DiaDiem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bvdd_Hinh_duongdan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bvdd_Hinh_duongdan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bvdd_tieude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bvdd_tieude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bvdd_noidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bvdd_noidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bvdd_tinhtrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bvdd_tinhtrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiem_DuLich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiem_DuLich.dddl_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.nv_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dk_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dk_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.bvdd_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="">
                <h1>NỘI DUNG BÀI VIẾT</h1>
                <h2>@Model.bvdd_tieude</h2>
            </div>
            <div class="x_content">
                <form id="demo-form2"  class="form-horizontal form-label-left" novalidate="">
                        <div class="col-sm-10" id="input">
                            @Html.Raw(Model.bvdd_noidung);
                        </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <div class="ln_solid"></div>        
                            <a asp-action="Index" class="btn btn-success"> Quay lại</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>