@model IEnumerable<LV_DuLichDienTu.Models.BaiViet_DiaDiem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bvdd_tieude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bvdd_noidung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bvdd_tinhtrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dddl_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nv_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dk_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bvdd_tieude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bvdd_noidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bvdd_tinhtrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dddl_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nv_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dk_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.bvdd_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.bvdd_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.bvdd_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
