@model IEnumerable<LV_DuLichDienTu.Models.DichVu>
<div class="destination-slider owl-carousel ftco-animate">
    @foreach(var item in Model)
    {
        <div class="item">
            <div class="destination">
                <a asp-controller="LayoutTourism" asp-action="Details_Service" asp-route-id="@item.dv_id" class="img img-2 d-flex justify-content-center align-items-center"
                    style="background-image: url('@Html.DisplayFor(modelItem => item.dv_hinh_duongdan)');object-fit: contain; ">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="icon-search2"></span>
                    </div>
                </a>
                <div class="text p-3">
                    <div >
                        <div class="items-center">
                            <h3 class="title-destination"><a asp-controller="LayoutTourism" asp-action="Details_Service" asp-route-id="@item.dv_id">
                                @Html.DisplayFor(modelItem => item.dv_ten)
                            </a></h3>
                        </div>
                    </div>
                    <hr>
                    <p class="bottom-area d-flex">
                        <span><i class="icon-map-o"></i> @Html.DisplayFor(modelItem => item.dv_quanhuyen)</span>
                        <span class="ml-auto"><a asp-controller="LayoutTourism" asp-action="Details_Service" asp-route-id="@item.dv_id">Chi Tiết</a></span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>