@model IEnumerable<LV_DuLichDienTu.Models.NhaCungCap>

@{
    ViewData["Title"] = "Index";
}

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ncc_taikhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ncc_matkhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ncc_ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ncc_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ncc_dienthoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ncc_diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dv_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ncc_taikhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncc_matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncc_ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncc_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncc_dienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncc_diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dv_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ncc_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ncc_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ncc_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@



<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div>
            <h2>
              NHÀ CUNG CẤP<small><a asp-action="Create"> Thêm mới</a></small>
            </h2>
          </div>

          <table id="datatable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>
                  @Html.DisplayNameFor(model => model.ncc_taikhoan)
                </th>


                <th>
                  @Html.DisplayNameFor(model => model.ncc_ten)
                </th>

                <th>
                  @Html.DisplayNameFor(model => model.ncc_email)
                </th>

                <th>
                  @Html.DisplayNameFor(model => model.ncc_dienthoai)
                </th>

                <th>
                  @Html.DisplayNameFor(model => model.ncc_diachi)
                </th>




                <th>Tùy chọn</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in Model)
              {
                <tr>
                  <td>
                    @Html.DisplayFor(modelItem => item.ncc_taikhoan)
                  </td>


                  <td>
                    @Html.DisplayFor(modelItem => item.ncc_ten)
                  </td>

                  <td>
                    @Html.DisplayFor(modelItem => item.ncc_email)
                  </td>

                  <td>
                    @Html.DisplayFor(modelItem => item.ncc_dienthoai)
                  </td>

                  <td>
                    @Html.DisplayFor(modelItem => item.ncc_diachi)
                  </td>




                  <td>
                    <a asp-controller="DichVus" asp-action="Index" asp-route-id="@item.ncc_id" class="btn btn-success btn-xs"><i
                      class="fa fa-search"></i> Dịch Vụ NCC</a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
