@model LV_DuLichDienTu.Models.DichVu

@{
    ViewData["Title"] = "Delete";
}

@* <h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DichVu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dv_ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dv_ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dv_dienthoai_hotro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dv_dienthoai_hotro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dv_mota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dv_mota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ckdv_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ckdv_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ncc_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ncc_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ldv_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ldv_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hd_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hd_id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="dv_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div> *@


<div class="row">
    <div class="col-md-10 center-margin">
        <div class="x_panel">
            <div class="x_title">
                <h2>BẠN CÓ THẬT SỰ MUỐN XÓA DỮ LIỆU: </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form asp-action="Delete" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="dv_id" />
                    <div class="form-group">
                        <div class="control-label col-md-6 col-sm-6 col-xs-12">
                            <label asp-for="dv_ten"></label><span>:</span>
                        </div>
                        <div class="control-label text-left col-md-6 col-sm-6 col-xs-12">
                            <label class="normal-text">@Html.DisplayFor(model => model.dv_ten) </label>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-6 col-sm-6 col-xs-12">
                            <label asp-for="ldv_id" class="control-label">Tên loại dịch vụ</label><span>: </span>
                        </div>

                        <div class="control-label text-left col-md-6 col-sm-6 col-xs-12">
                            <label class="normal-text control-label">@Html.DisplayFor(model => model.loaiDichVu.ldv_ten)</label>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-6 col-sm-6 col-xs-12">
                            <label asp-for="ncc_id" class="control-label">Tên nhà cung cấp</label><span>:</span>
                        </div>

                        <div class="control-label text-left col-md-6 col-sm-6 col-xs-12">
                            <label class="normal-text control-label">@Html.DisplayFor(model => model.nhaCungCap.ncc_ten)</label>
                            
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="items-center">
                            <button asp-action="Index" class="btn btn-success"> Quay lại</button>
                            <input type="submit" value="Xóa" class="btn btn-danger" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>