@model LV_DuLichDienTu.Models.DichVu

@using Microsoft.AspNetCore.Http;
@using System.Data;
@{
    ViewData["Title"] = "Details";
}

@* <h1>Details</h1>

<div>
    <h4>DichVu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dv_ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dv_ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dv_dienthoai_hotro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dv_dienthoai_hotro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dv_tinhthanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dv_tinhthanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dv_quanhuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dv_quanhuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dv_mota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dv_mota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ckdv_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ckdv_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nhaCungCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nhaCungCap.ncc_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loaiDichVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loaiDichVu.ldv_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hd_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hd_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.dv_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="">
                <h1>Chi Tiết Dịch Vụ</h1>
                <h2>@Model.dv_ten</h2>
            </div>
            <div class="x_content">
                <form id="demo-form2"  class="form-horizontal form-label-left" novalidate="">
                        <div class="col-sm-10 img_Article" id="input">
                            @Html.Raw(Model.dv_mota)
                        </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <div class="ln_solid"></div>        
                            @{
                                int temp_dvid = int.Parse(@Context.Session.GetString("userID"));
                            }
                            <a asp-action="List_By_ID" asp-route-id="@temp_dvid" class="btn btn-success"> Quay lại</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>