@model IEnumerable<LV_DuLichDienTu.Models.Hinh_DiaDiemDuLich>

@{
  ViewData["Title"] = "Index";
}



<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>BẢNG ĐỊA ĐIÊM DU LỊCH <small> <a asp-action="Create">Tạo mới</a></small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              @Html.DisplayNameFor(model => model.hinh_duongdan)
            </th>
            <th>
              @* <p>Tên địa điểm du lịch</p> *@
              @Html.DisplayNameFor(model => model.dddl_id)
            </th>
            <th>Tùy chọn</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
            <tr>
              <td>
                @Html.DisplayFor(modelItem => item.hinh_duongdan)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.dddl_id)
                @*
                  NẾU Ở ĐÂY ĐỂ DDDL_ID NÓ SẼ RA ID ĐỊA ĐIỂM CỦA TƯNG ẢNH
                  @Html.DisplayFor(modelItem => item.dddl_id)

                *@
              </td>
              <td>
                <a asp-action="Edit" asp-route-id="@item.hinh_id" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Sửa </a>|
                <a asp-action="Delete" asp-route-id="@item.hinh_id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Xóa </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>