@model LV_DuLichDienTu.Models.DiaDiem_DuLich

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DiaDiem_DuLich</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dddl_ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dddl_ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dddl_mota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dddl_mota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dddl_tinhthanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dddl_tinhthanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hinh_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hinh_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bvdd_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bvdd_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.dddl_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
